* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #24303c;
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.frm-sign-up {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.field-container {
  display: flex;
  flex: 1 1 46%;
  flex-flow: column nowrap;
  margin: 5px;
}

.field-container.long {
  /* min-width: 100%; */
  flex: 1 1 100%;
}

.entry {
  width: 500px;
}

/* input placeholder text: */
/* #99a2ab */

/* border: */
/* #a2afb8 */
h1 {
  font-weight: normal;
  text-align: center;
  color: white;
  line-height: 56px;
}

/* span,div,form, label {
  border: 1px solid #000;
  margin: 1px;
  padding: 1px;
} */

.form-toggle {
  display: flex;
  flex-flow: row nowrap;
  height: 48px;
}

.valid-info {
  color : red;
}

input {
  border: 1px solid #a2afb8;
  line-height: 32px;
  background-color: transparent;
  color: white;
  padding: 0 5px;
}

button {
  border: none;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 50%;
}

button.sign-up {
  background-color: #1ab188; /* Green */
  color: white;
}
button.log-in {
  background-color: #435259;
  color : #999;
}

form>button {
  font-size: 26px;
  font-weight: bold;
  flex: 1 1 100%;
  height: 60px;
}
